<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <title>Drill</title>

    <!-- Bootstrap core CSS -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='fonts/arvo.css' rel='stylesheet' type='text/css'>

    <!-- Custom CSS-->
    <link href="stylesheets/general.css" rel="stylesheet">

  <!-- Owl-Carousel -->
  <link href="stylesheets/custom.css" rel="stylesheet">
  <link href="stylesheets/owl.carousel.css" rel="stylesheet">
  <link href="stylesheets/owl.theme.css" rel="stylesheet">
  <link href="stylesheets/style.css" rel="stylesheet">
  <link href="stylesheets/animate.css" rel="stylesheet">

  <!-- Magnific Popup core CSS file -->
  <link rel="stylesheet" href="css/magnific-popup.css">

  <script src="js/modernizr-2.8.3.min.js"></script>  <!-- Modernizr /-->

</head>