<% include partials/head %>

<body id="home">

  <!-- Preloader -->
  <div id="preloader">
    <div id="status"></div>
  </div>

  <!-- FullScreen -->
    <div class="intro-header">
    <div class="col-xs-12">
      <img class="landing-logo img-responsive" src="img/landing-logo.svg">
      <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">Drill</h1>
      <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Your learning timeline.</h3>
      <ul class="list-inline intro-social-buttons">
        <li id="signin" ><a href="#downloadlink" class="btn btn-primary mybutton_standard wow swing wow fadeIn" data-wow-delay="1.2s"><span class="network-name"><b>Get started</b></span></a>
        </li>
      </ul>
    </div>
        <!-- /.container -->
    <div class="col-xs-12 text-center abcen wow fadeIn">
      <div class="button_down ">
        <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s"  href="#whatis"></a>
      </div>
    </div>
    </div>

  <!-- NavBar-->
  <nav class="navbar-default" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <img class="navbar-logo" src="img/logo.svg">
        <a class="navbar-brand" href="#home">Drill</a>
      </div>

      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
          <li class="menuItem"><a href="#whatis">What is Drill?</a></li>
        </ul>
        <form class="navbar-form navbar-right d-inline-block" style="width:inherit; margin-top: 4px;" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" name="username" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" name="password" placeholder="Password">
                    </div>
                    <button type="submit" class="btn btn-primary">Sign In</button>
        </form>
      </div>
    </div>
  </nav>
    <div class="content-section-a">
    <div class="container">
      <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center wrap_title">
        <h2>Sign Up</h2>
        <p class="lead" style="margin-top:0">You know the drill.</p>
      </div>
      <hr class="featurette-divider hidden-lg">
        <div class="col-md-5 col-md-push-1 address">


          <h3>Social</h3>
          <li class="social"> 
          <a href="#"><i class="fa fa-facebook-square fa-size"> </i></a>
          <a href="#"><i class="fa  fa-twitter-square fa-size"> </i> </a> 
          <a href="#"><i class="fa fa-google-plus-square fa-size"> </i></a>
          <a href="#"><i class="fa fa-flickr fa-size"> </i> </a>
          </li>
        </div>
              <form role="form" action="/signup" method="post" name="signup">
        <div class="col-md-6">
          <div class="form-group">
            <div class="input-group">
              <input type="email" class="form-control" id="email" name="email" placeholder="Enter Email" required>
              <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input type="password" class="form-control" id="password" name="password" placeholder="Enter Password" required>
              <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <input type="password" class="form-control" id="confpass" name="confpass" placeholder="Confirm Password" required>
              <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
            </div>
          </div>

          <input type="submit" name="submit" id="submit" value="Submit" class="btn wow tada btn-embossed btn-primary pull-right">
        </div>
      </form>
      </div>
    </div>
  </div>  
  <!-- What is Drill -->
  <div id="whatis" class="content-section-b" style="border-top: 0">
    <div class="container">

      <div class="col-md-6 col-md-offset-3 text-center wrap_title">
        <h2>What is Drill?</h2>
        <p class="lead" style="margin-top:0">A special thanks to Death.</p>
      </div>

      <div class="row">
        <div class="col-sm-4 wow fadeInDown text-center">
          <img class="rotate" src="img/icon/tweet.svg" alt="Generic placeholder image">
          <h3>Follow Me</h3>
          <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p>

          <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->
        
        <div class="col-sm-4 wow fadeInDown text-center">
          <img  class="rotate" src="img/icon/picture.svg" alt="Generic placeholder image">
           <h3>Gallery</h3>
           <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p>
           <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->
        
        <div class="col-sm-4 wow fadeInDown text-center">
          <img  class="rotate" src="img/icon/retina.svg" alt="Generic placeholder image">
           <h3>Retina</h3>
          <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p>
          <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->
        
      </div><!-- /.row -->
        
      <div class="row tworow">
      
        <div class="col-sm-4  wow fadeInDown text-center">
          <img class="rotate" src="img/icon/laptop.svg" alt="Generic placeholder image">
          <h3>Responsive</h3>
          <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p>
         <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->
        
        <div class="col-sm-4 wow fadeInDown text-center">
          <img  class="rotate" src="img/icon/map.svg" alt="Generic placeholder image">
           <h3>Google</h3>
           <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p>
           <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->
        
        <div class="col-sm-4 wow fadeInDown text-center">
          <img  class="rotate" src="img/icon/browser.svg" alt="Generic placeholder image">
           <h3>Bootstrap</h3>
         <p class="lead">Epsum factorial non deposit quid pro quo hic escorol. Olypian quarrels et gorilla congolium sic ad nauseum. </p>
          <!-- <p><a class="btn btn-embossed btn-primary view" role="button">View Details</a></p> -->
        </div><!-- /.col-lg-4 -->
        
      </div><!-- /.row -->
    </div>
  </div>

  <div  class="content-section-c ">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center white">
          <h2>Get Live Updates</h2>
          <p class="lead" style="margin-top:0">A special thanks to Death.</p>
        </div>
      <div class="col-md-6 col-md-offset-3 text-center">
        <div class="mockup-content">
          <div class="morph-button wow pulse morph-button-inflow morph-button-inflow-1">
            <button type="button "><span>Subscribe to our Newsletter</span></button>
            <div class="morph-content">
              <div>
                <div class="content-style-form content-style-form-4 ">
                  <h2 class="morph-clone">Subscribe to our Newsletter</h2>
                  <form>
                    <p><label>Your Email Address</label><input type="text"/></p>
                    <p><button>Subscribe me</button></p>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

<% include partials/foot %>
