<html>
<body>
  <form name="signup" action="/signup" method="post">
    <input type="email" name="email" id="email"></input><br>
    <input type="password" name="password" id="password"></input><br>
    <input type="submit" action="submit" value="submit"></input>
  </form>
  <br>
  <br>
  <form name="login" action="/login" method="post">
    <input type="email" name="email" id="email"></input><br>
    <input type="password" name="password" id="password"></input><br>
    <input type="submit" action="submit" value="submit"></input>
  </form>
</body>
</html>
